{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Login</h1>
	<p>
		New User?
		<a href="{{ url_for('auth.register') }}">
			Click here to register
		</a>
	</p>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>
{% endblock %}

