{% block page_content %}
<div class="page-header">
	<h1>{{ user.username }}</h1>
	<img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
	{% if user.name or user.location %}
	<p>
		{% if user.name %}{{ user.name }}{% endif %}
		{% if user.location %}
			From <a href="http://maps.google.com/?q={{ user.location }}">
				{{ user.location }}
			</a>
			{% if user == current_user %}
			<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
				Edit Profile
			</a>
			{ % endif %}
		{% endif %}
	</p>
	{% endif %}
	{% if current_user.is_administrator() %}
	<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
	<a class="btn btn-danger"
			href="{{ url_for('.edit_profile_admin', id=user.id) }}">
		Edit Profile [Admin]
	</a>
	{% endif %}
	{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
	<p>
		Member since {{ moment(user.member_since).format('L') }}.
		Last seen {{ moment(user.last_seen).fromNow() }}.
	</p>
</div>
{% endblock %}
